.RData
.Rhistory
*.dcf
*.zip
RNASeqEnrich/Data/.Rhistory
RNASeqEnrich/Data/.DS_Store
multiLengthplot2/.Rhistory
multiLengthplot2/.DS_Store
multiLengthplot/.DS_Store
assemblyNplot/www/.DS_Store
assemblyNplot/.DS_Store
.DS_Store
